{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="menu">
            <li>
                <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
            </li>
            {% block menu %}
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' user.pk %}" class="btn btn-primary">Profile</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a>
                </li>
                <li>Привет, {{ user.full_name }}</li>
            {% else %}
                        <li>
                        <a href="{% url 'login' %}" class="btn btn-primary">Вход</a>
                        </li>
                        <li>
                        <a href="{% url 'signup' %}" class="btn btn-primary">Зарегистрироваться</a>
                        </li>
                        <li>Вы не авторизованы!</li>
            {% endif %}
            {% endblock %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
