{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Change Password{% endblock %}
{% block menu %}
{% endblock %}

{% block content %}
<h2>Смена пароля пользователя: {{user.full_name}}</h2>
<form method="post">
  <div class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
  </div>
  <div class="form">
  {% bootstrap_button button_type="submit" content='Поменять' %}
    <a href="{% url 'profile' user.pk %}" class="btn btn-secondary"> Отмена </a>
  </div>
</form>
{% endblock %}