{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Home{% endblock %}
{% block content %}
   {% include 'partial/search.html' %}
<h2>Опубликованные посты:</h2>
{% if posts %}
{% for post in posts %}
    {% if user.pk != post.author_id %}
        <br/>

        <span>Опубликовано: {{post.date_publish}}</span><span>Изменено: {{post.date_update}}</span>
        <a href="{% url 'profile' post.author_id %}">Автор: {{post.author}}</a>
        {% if not post.author in user.subscriptions.all %}
            <a href="{% url 'subsribe' post.author_id %}">Подписаться</a>
        {% endif %}
        <p>
            <a href="{% url 'post_detail' post.id %}"><img class="post_pic" src="/uploads/{{ post.image }}"></a>
        </p>
        <p>{{post.description}}</p>
        <a href="{% url 'make_like' post.id %}"><img src="/static/images/like_bw.png"></a> - {{post.user_likes.count}}
        <img src="/static/images/comment.png"> - {{post.comments.count}}

        {% if user.is_authenticated %}

            <form action="{% url 'comment_add' post.pk %}" method="post">

                {% csrf_token %}
                {% bootstrap_form comment_form %}
                {% bootstrap_button button_type="submit" content='Опубликовать' %}

            </form>
        {% endif %}
        {% if post.comments.count > 0 %}
            <h3>Комментарии: </h3>
            {% for comment in post.comments.all %}
                    <p>{{ comment.author }} : {{ comment.text }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
<br/><br/>
{% endfor %}
{% else %}
<h2>Посты отсутствуют</h2>
{% endif %}

{% endblock %}
